---
import '../styles/main.css'
import Card from '../components/card.svelte'
import Footer from "../components/footer.astro"
import "@fontsource/space-grotesk"
import "@fontsource/satisfy"

//import { HelloAstro } from 'hello-astro'; //this throws an error eventhough it builds just fine, no idea why

const projects = await Astro.glob("../**/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/winter.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    	<!-- <link rel="stylesheet" href="https://css.hackclub.com/fonts.css" /> -->
		<title>Astro</title>
	</head>
	<body>
	<a href="https://hackclub.com/">
    <img class="lg:block md:block hidden" style="position: absolute; top: 0; right: 15px; border: 0; width: 150px; z-index: 999;"src="https://assets.hackclub.com/flag-orpheus-top.svg"alt="Hack Club"/></a>
		
		
	<div class=" transition ease-in-out bg-sky-500 p-10">
		<h4 class=" text-slate-800 text-3xl pb-4 flex justify-center">hi there, Welcome to</h4>
        <h1 class=" text-9xl font-['Satisfy'] text-white pb-9 flex justify-center">Winterlings</h1>
        <h3 class=" font-bold text-4xl pb-3 flex justify-center">
            <i>Check out all the projects hack clubbers are building this winter</i>
        </h3>
		<a class="flex justify-center "href="https://hackclub.com/winter"><h3 class="text-2xl hover:scale-125 text-red-300 transition ease-in-out ">what's this all about?</h3>
		</a>
    </div>
    
    <div class=" bg-[#252429] p-9 grid gap-5 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
		{projects.map((post) => 
		<Card Name={post.frontmatter.project} Author={post.frontmatter.name} Summary={post.frontmatter.summary} Link={post.file.slice(42).slice(0,-3)}/>
		)}
    </div>
	<Footer />
	</body>
</html>
