---
import '../../styles/hc.css';
import Nav from '../../components/nav.svelte'
import Footer from '../../components/footer.svelte'
import "@fontsource/space-grotesk"

export async function getStaticPaths() {
  const projects = await Astro.glob('../../project/*.md')
  return projects.map((post) => ({
    params: { 
      slug: ( Array.isArray(post.frontmatter.name) ? post.frontmatter.name[0].slice(1) : post.frontmatter.name.slice(1))
    },
    props: {
      post
    }
  }))
}

const { Content, frontmatter, file } = Astro.props.post

let name = frontmatter.name;
let page = ( Array.isArray(frontmatter.name) ? frontmatter.name[0].slice(1) : frontmatter.name.slice(1))
console.log();

---
<head>
  <meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/winter.svg" />
	<meta name="viewport" content="width=device-width" />
  <title>{page}</title>
</head>
<Nav  client:load page={page} name={name}/>
<article class="overflow-auto prose max-w-none md:prose-xl prose-xs m-5 prose-h1:pt-5">
    <Content />
</article>
<Footer client:visible/>
